absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alembic==1.18.4
annotated-types==0.7.0
anyio==4.13.0
asttokens==3.0.0
async-generator==1.10
async-timeout==5.0.1
attrs==21.2.0
Automat==20.2.0
awscli==1.22.34
Babel==2.8.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
blinker==1.4
botocore==1.23.34
breezy==3.2.1
brz-debian==2.8.51
casadi==3.7.2
certifi==2026.4.22
Chameleon==3.8.1
chardet==4.0.0
charset-normalizer==3.4.7
click==8.0.3
cloud-init==25.3
cloudpickle==3.1.2
colorama==0.4.4
colorlog==6.10.1
comm==0.2.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.3.2
cryptography==3.4.8
cycler==0.12.1
datasets==4.8.5
dbus-python==1.2.18
debmutate==0.48
debugpy==1.8.15
decorator==5.2.1
Deprecated==1.2.13
devscripts===2.22.1ubuntu1.2
dill==0.4.1
distro==1.7.0
distro-info==1.1+ubuntu0.2
dockstring==0.3.4
docopt-ng==0.9.0
docutils==0.17.1
dulwich==0.20.31
exceptiongroup==1.3.0
executing==2.2.0
Farama-Notifications==0.0.6
fastbencode==0.0.5
fastimport==0.9.14
filelock==3.13.1
fonttools==4.59.0
frozenlist==1.8.0
fsspec==2024.6.1
gitdb==4.0.12
GitPython==3.1.45
gpg==1.16.0
greenlet==3.5.0
grpcio==1.80.0
gymnasium==0.29.1
h11==0.16.0
hf-xet==1.5.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
huggingface-sb3==3.0
huggingface_hub==0.36.2
hyperlink==21.0.0
idna==3.3
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
imbalanced-learn==0.14.1
imitation==1.0.1
importlib-metadata==4.6.4
incremental==21.3.0
ipykernel==6.30.0
ipython==8.37.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.5.1
jsonpatch==1.32
jsonpickle==4.1.1
jsonpointer==2.0
jsonschema==3.2.0
jupyter_client==8.6.3
jupyter_core==5.8.1
keyring==23.5.0
kiwisolver==1.4.8
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lptools==0.2.0
lxml==4.8.0
Mako==1.3.12
Markdown==3.3.6
markdown-it-py==4.1.0
MarkupSafe==3.0.3
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
merge3==0.0.8
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.19
munch==4.0.0
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.3
numpy==2.2.6
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.8.3.14
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.8.57
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.8.61
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.8.57
nvidia-cudnn-cu11==9.1.0.70
nvidia-cudnn-cu12==9.7.1.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.3.3.41
nvidia-cufile-cu12==1.13.0.11
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.9.55
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.7.2.55
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.5.7.53
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu11==2.21.5
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.8.55
oauthlib==3.2.0
olefile==0.46
optuna==4.8.0
outcome==1.1.0
packaging==25.0
pandas==2.3.1
parso==0.8.4
patiencediff==0.2.1
patsy==1.0.2
pexpect==4.8.0
Pillow==9.0.1
platformdirs==4.3.8
prompt_toolkit==3.0.51
propcache==0.4.1
protobuf==6.31.1
psutil==7.0.0
psycopg2==2.9.2
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py3dns==3.2.1
pyarrow==24.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycurl==7.44.1
pydantic==2.11.7
pydantic_core==2.33.2
pyfuse3==3.2.0
pygame==2.6.1
PyGithub==1.55
Pygments==2.20.0
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
PySimpleSOAP==1.16.2
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-debianbts==3.2.0
python-gitlab==2.10.1
python-magic==0.4.24
python-tr==0.1.2
pytorch-fid==0.3.0
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.3
pyzmq==27.0.0
rdkit==2025.3.3
reportbug===11.4.1ubuntu1
requests==2.33.1
requests-toolbelt==0.9.1
rich==15.0.0
roman==3.3
rsa==4.8
s3transfer==0.5.0
sacred==0.8.7
scikit-learn==1.7.1
scipy==1.15.3
seaborn==0.13.2
seals==0.2.1
SecretStorage==3.3.1
semver==2.10.2
sentry-sdk==2.34.1
service-identity==18.1.0
six==1.16.0
sklearn-compat==0.1.5
smmap==5.0.2
sniffio==1.2.0
sortedcontainers==2.1.0
sos==4.10.2
soupsieve==2.3.1
SQLAlchemy==2.0.49
ssh-import-id==5.11
stable-baselines3==2.2.1
stack-data==0.6.3
statsmodels==0.14.5
sympy==1.13.3
systemd-python==234
tensorboard==2.20.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
toml==0.10.2
tomli==2.4.1
tomlkit==0.9.2
torch==2.7.1+cu118
torch-geometric==2.7.0
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
trio==0.19.0
triton==3.3.1
Twisted==22.1.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
ubuntu-dev-tools==0.201+ubuntu2.22.4.4
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
unidiff==0.5.5
upstream-ontologist==0.1.24
urllib3==2.5.0
wadllib==1.3.6
wandb==0.21.1
wasabi==1.1.3
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.8
wrapt==1.13.3
xdg==5
xgboost==3.2.0
xkit==0.0.0
xxhash==3.6.0
yarl==1.22.0
zipp==1.0.0
zope.interface==5.4.0
